<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <div class="full-todo-container">
    <input #box mdInput placeholder="Enter list item" class="insert-item" value="" (keyup.enter)="addElement(box)"/>
    <div class="all-current-items">
      <div class="each-item" *ngFor="let eachElement of showTodoList; index as i">
        <app-todo-element (onUpdate) = "onUpdate($event, $event1)" (onCheck)="onChecked($event)" [element]="eachElement" [index] = "i" (click)="clickOnElement($event, i)"></app-todo-element>
      </div>
    </div>
    <div class="list-bottom-buttons">
      <app-footer-left [itemsLeft] = "itemsActive" ></app-footer-left>
      <div class="each-bottom-info all-buttons-container">
        <button md-button (click)="all()">All</button>
        <button md-button (click)="active()">Active</button>
        <button md-button (click)="completed()">Completed</button>
      </div>
    </div>
  </div>
</div>